<%= form_for([@tweet, @note]) do |form| %>
  <fieldset>
    <legend>Note</legend>

    <div>
      <%= form.label(:note_text) %>
      <%= form.text_area(:note_text) %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </fieldset>
<% end %>
